<ion-view hide-nav-bar="true" class="bg">
  <ion-header-bar class="bar no_background no_border" >
    <button onclick="javascript:history.go(-1)" class="button button-clear text_white icon  ion-ios-arrow-thin-left"></button>
  </ion-header-bar>
  <ion-content class="has-footer has-header" scroll="false" >
    <div class="martop70 " >
      <h2 class=" text_white text_center best-world">Your Display Name</h2>
      <p class="text_center text_white fs-14 best-world">This name will appear on your public profile </p>
      <div class=" card no_background  martop50">
     
          <a class="item  no_background border_bottom text_white item-icon-right">
    
            <!-- Andre -->{{choosename}}
            <i ng-if="showerror!='0'" class="icon ion-checkmark-circled"></i>
            <i ng-if="showerror=='0'" class="icon ion-close-circled"></i>
          </a>
          <p ng-if="showerror!='0'" class="text_lightpurple fs-16 martop10">THis NickName is available</p>
          <p ng-if="showerror=='0'" class="text_lightpurple fs-16 martop10 text_assertive">THis NickName is Not available</p>
        
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer ">
    <button class="button button-block martop0 best-world" ui-sref="country"   ><!-- ng-click="doLogin();" -->
    NEXT
    <i class="icon ion-android-arrow-forward float_right"></i>
    </button>
  </div>
</ion-view>