<ion-view hide-nav-bar="true" class="bg">
  <ion-header-bar class="bar no_background no_border" >
    <button onclick="javascript:history.go(-1)" class="button button-clear text_white icon  ion-ios-arrow-thin-left"></button>
  </ion-header-bar>
  <ion-content class="has-footer has-header" scroll="true" >
    <div>
      <h2 class=" text_white text_center ">Finish</h2>
      <p class="text_center text_white fs-14 ">You are one tab away to enter on lunona</p>
      
      <div class="card no_background ">
      <div class="marbottom-10">
      
            <div class="col no_padding text_center"><button class="button button-email fs-14 button-light text_center">
              Email
              </button>
            </div>
           
            <a class="item item-icon-left no_background item-icon-right text_white f-bold fullcircle" href="#">
               <img  src="img/finish_03.png" width="12%">&nbsp;
              andrefilipps@gmail.com
              <i class="icon ion-edit text_black"></i>
            </a>
      </div>

       <div class="marbottom-10">
      
            <div class="col no_padding text_center"><button class="button button-email fs-14 button-light text_center">
              I am
              </button>
            </div>
           
            <a class="item item-icon-left no_background item-icon-right text_white f-bold fullcircle" href="#">
              <img  src="img/finish_07.png" width="15%">&nbsp;
              Man and i'm looking for a woman
              <i class="icon ion-edit text_black"></i>
            </a>
        </div>

       <div class="marbottom-10">
      
            <div class="col no_padding text_center"><button class="button button-email fs-14 button-light text_center">
              Nickname
             </button>
            </div>
           
            <a class="item item-icon-left no_background item-icon-right text_white f-bold fullcircle" href="#">
              <img  src="img/finish_10.png" width="10%">&nbsp;
              Andrefilipp
              <i class="icon ion-edit text_black"></i>
            </a>
        </div>

      <div class="marbottom-10">
      
            <div class="col no_padding text_center"><button class="button button-email fs-14 button-light text_center">
              I live in
              </button>
            </div>
           
            <a class="item item-icon-left no_background item-icon-right text_white f-bold fullcircle" href="#">
              <img  src="img/EN.png" width="12%">&nbsp;
              United Kingdom , London
              <i class="icon ion-edit text_black"></i>
            </a>
        </div>

      <div>
      
            <div class="col no_padding text_center"><button class="button button-email fs-14 button-light text_center">
             I was born
              </button>
            </div>
           
            <a class="item item-icon-left no_background item-icon-right text_white f-bold fullcircle" href="#">
              <img  src="img/finish_14.png" width="12%">&nbsp;
              2/2/1987 - 26 Years Old
              <i class="icon ion-edit text_black"></i>
            </a>
      </div>


    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </ion-content>
  <div class="bar bar-footer no_padding footer-bg footer-height" ui-sref="login">
    <img src="img/done_02.png" width="100%" >
  </div>
</ion-view>