<ion-view>
<ion-content>
<div class="bar bar-header bar-assertive">
  <button class="button icon ion-navicon right" ui-sref='home'></button>
  <h1 class="title">Chatbox</h1>
</div>
<div class="list" >

 
<a class="item item-icon-left" style="margin-top: 43px;" ui-sref="profile" >
    <i class="icon ion-person "></i>
    Profile
    <span class="item-note">
      Change profile
    </span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    Friends
    <span class="badge badge-assertive">0</span>
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-key"></i>
  Account
    <i></i>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-gear-b"></i>
    Setting
    <span class="item-note">
      Grammy
    </span>
  </a>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-android-apps"></i>
    About
    
  </a>

</div>
</ion-content>
</ion-view>