<ion-view hide-nav-bar="true" class="bg">
  <ion-header-bar class="bar no_background no_border" >
    <button onclick="javascript:history.go(-1)" class="button button-clear text_white icon ion-ios-arrow-thin-left"></button>
    <button   class="button button-clear text_white icon  ">Forgot my password</button>
  </ion-header-bar>
  <ion-content class="has-footer has-header" scroll="false" >
    <div class="martop70 " >
      <!-- <div class="logo text-center" ui-sref="username"><img src="img/logo_03.png"   width="100"></div>
      <h2 class="text_center text_purple">{{data.email}}</h2> -->
      <h2 class=" text_white text_center best-world">Your Password</h2>
      <p class="text_center text_white fs-14 best-world">Password must have 4 character</p>
      <div class="card no_background martop30">
        <div>
          
          <input class="float_left no_background border_bottom maxminwidth100 marginleft5 input-white" type="{{password}}" ng-model="data.password" placeholder="Password" >
          <button  class="float_right eyesicon button button-clear" ng-click="hideShowPassword();"><img class="" src="img/eye_03.png" width="30px" ng-click="hideShowPassword();"></button>
         <!--  <img class="float_right eyesicon" src="img/eye_03.png" width="9%" ng-click="hideShowPassword();"> -->
        </div>
        
        <!-- <div class="text_center">
          <div class="row martop70">
            <div class="col marginleft-5 fs-14 text_lightpurple">FORGET ME</div>
            <div class="col col-20">
              <label class="toggle toggle-royal ">
                <input ng-model="data.isRemember" type="checkbox">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
            <div class="col  text_lightpurple">REMEMBER ME</div>
          </div>
        </div> -->
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-full martop0 button-light" ng-click="Gonext();">
    Register
    <i class="icon ion-android-arrow-forward float_right"></i>
    </button>
  </div>
</ion-view>
