<ion-view hide-nav-bar="true" class="bg">
  <ion-header-bar class="bar no_background no_border" >
    <button onclick="javascript:history.go(-1)" class="button button-clear text_white icon ion-ios-arrow-thin-left"></button>
    <button   class="button button-clear text_white icon  ">Forgot my password</button>
  </ion-header-bar>
  <ion-content class="has-footer has-header" scroll="false" >
    <div class="martop70 " >
      <div class="logo text-center" ui-sref="username"><img src="img/logo_03.png"   width="100"></div>
      <h2 class="text_center text_purple">{{data.email}}</h2>
      <div class="card no_background martop30">
        <div>
          <!-- <p class=" text_white fs-16 marginleft5 ">Nickname or email</p> -->
          <label class="marginleft5 text_white">Password</label>
          <input class="float_left no_background border_bottom maxminwidth100 marginleft5 input-white" type="password" ng-model="data.password" placeholder="Password" >
        </div>
        <div class="text_center">
          <div class="row martop70">
            <div class="col marginleft-5 fs-14 text_lightpurple">FORGET ME</div>
            <div class="col col-20">
              <label class="toggle toggle-royal ">
                <input ng-model="data.isRemember" type="checkbox">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </div>
            <div class="col  text_lightpurple">REMEMBER ME</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <button class="button button-full martop0 button-light" ng-click="doLogin();" >
    Login
    <i class="icon ion-android-arrow-forward float_right"></i>
    </button>
  </div>
</ion-view>
